

form{
  display: flex;
  flex-direction: column;
  gap: 48px;

  width: 400px;
}

form label{
  font-family: 'Archivo', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;

  width: 100%;
  padding-bottom: 16px;
  color: rgb(248, 241, 241);
}

form input{
  background: #FAFAFC;

  border: 1px solid #E6E6F0;
  border-radius: 8px;
  
  height: 56px;
  width: 100%;

  padding: 0 24px;

  font-size: 16px;
  line-height: 26px;

  background-color:#4d4d59;
}

form button{

   width: 15.0rem;
   height: 30px;
   border: 1px solid #E6E6F0;
   border-radius: 8px;

   background-color: rgb(241, 235, 235);

   color: #0f0f0f;

   font-size: 16px;
   line-height: 26px;
   font-weight: 700;
}

@media (max-width: 600px){
  form bottom{
    width: 10rem;
  }

  form input{
    width: 60%;
  }
}







