
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

:root{
  --ff-heading: 'Epilogue', sans-serif;
  --ff-texting: 'Open sans', sans-serif;

  --hue: 250;
  --bg-primary: hsl(var(--hue), 22%, 20%);
  --fc-primary: hsl(var(--hue), 0%, 100%);
  --fc-secondary: hsl(var(--hue), 50%, 80%);
  --fc-secondary-dark: hsl(var(--hue), 100%, 11%, 1);


  font-size: 62.5%;
  --fs-body: 1.6rem;
  --fs-heading: clamp(4rem, 1rem + 5vw, 5.6rem); 
  --fs-heading-sm: clamp(3rem, 0.5rem + 3vw, 4rem); 
}


body{
    background: #1d1d29;
  
    font-size: var(--fs-body);
    line-height: 28px;
    color: white;
  
    height: 720px;

    max-width: 1280px;
    margin: 2rem 3rem;
    padding: 2rem;
  
  
    font-family: 'JetBrains Mono', monospace;
  } 
  
  span{
    color: rgb(196, 66, 6);
  }

  .hide{
    opacity: 0;
    display: none;
  }

header{
  display: flex;
  text-align: center;
  justify-content: space-between;
}


.logotipoHome{
    max-width: 10.0rem;
  }


header nav{
  display: flex;
  gap: 2.0rem;
  margin-top: 3.0rem;
}

a{
    text-decoration: none;
    color: white;
    list-style: none;
}
  
a:hover{
    color: rgb(139, 136, 136);
    font-weight: 700;
  }


main{
    width: 1092px;
    height: 283px;
    display: flex;

    justify-content: space-between;
    gap: 17rem;
    margin-top: 6.6rem
  }

.home img{
    width: 45rem;
    height: 30rem;
  }
  
section{
    width: 604px;
}

section   h1{
  font-size: 35px ;
  line-height: 40px ;
  font-weight: 700;
}

  
section p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}
  
section p span{
    font-weight: 700;
    font-size: 20px ;
    line-height: 20px ;
}

section div{
  margin-top: 6.6rem;
}





  /*
  responsividade mobile
  */
  
@media (max-width: 400px){

  body{
    margin: 0;
    padding: 1px;
  }

  #app{
    align-items: center;
    margin-left: 1px;
    padding: 0;
  }

    #logotipoHome{
      width: 40px;
      height: 40px;
      margin-top: 20px;
    }

    header{
      display: flex;
      justify-content: space-between;
      }
    
    header nav a{
      font-size: 10px;
      display: flex;
    }
    
    
  main{
    display: flex;
    flex-direction: column;
    gap: 30px;

    
  }
  
  main .home img{
    max-width: 200px;
    height: 150px;
  }

  section{
    width: 250px;
    font-size: 14px;
    font-weight: 14px;
  }

  section h1{
    font-size: 24px;
    font-weight: 34px;
  }
}

  
@media (max-width: 700px){

  body{
    margin: 10px;
    padding: 10px;
  }

  #app{
    margin: 20px 15px 10px 15px;
    align-items: center;
  }

    #logotipoHome{
      width: 40px;
      height: 40px;
      margin-top: 20px;
    }

    body header{
     max-width: 300px;
    }
    
    header nav a{
      font-size: 10px;
      display: flex;
      margin-left: 0px;
    }
    
    
  main{
    display: flex;
    flex-direction: column;
    gap: 30px;

    font-size: 14px;
    font-weight: 14px;
  }
  
  .home img{
    width: 280px;
    height: 200px;
    margin-left: 10px;
  }
}